.container {
  position: relative;
  background-color: var(--color-bg-main);
  max-width: var(--container-width);
  width: calc(100% - (var(--spacing-lg) * 2));
  margin: calc(var(--spacing-xl) * -1) auto 0;
  padding: var(--spacing-xl) var(--spacing-lg);
  border-radius: var(--border-radius);
}



@media (max-width: 768px) {
  .container {
  width: calc(100% - (var(--spacing-lg) * 2));
  padding: var(--spacing-xl) var(--spacing-md);
  margin: calc(var(--spacing-xl) * -1) auto 0;
}
}
