.items {
    display: flex;
    color: var(--color-text-unpainted);
    gap: var(--spacing-lg);
}

.button {
    display: none;
}

.themeToggle {
  display: inline-flex;
}

@media (max-width: 640px) {
    .nav {
        display: none;
    }

    .button {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
    }

    .close {
        position: absolute;
        top: var(--spacing-md);
        right: var(--spacing-sm);
    }

    .nav.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-bg-painted);
        color: var(--color-text-unpainted);
        padding: var(--spacing-md) var(--spacing-sm);
    }

    .items {
        flex-direction: column;
        gap: var(--spacing-md);
    }
}