.button {
    display: block;
    padding: 20px 40px;
    border-radius: var(--border-radius);
    width: 300px;
    background:
        var(--color-button-primary);
    color: #fff;
    font-size: var(--font-size-lg);
}

html[data-theme="dark"] .button {
    color: #000;
}



.button:hover {
    opacity: 0.9;
}

@media (max-width: 640px) {
    .button {
        padding: 16px 24px;
        width: 100%;
    }
}