.button {
  position: relative;
  width: 52px;
  height: 28px;
  padding: 2px;
  border-radius: 999px;
  background-color: #fff;
  border: 1px solid var(--color-border-light);
  cursor: pointer;
  transition: background-color 0.3s;
}

.knob {
  width: 24px;
  height: 24px;
  color: currentColor;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.3s;
}

html[data-theme='dark'] .knob {
  transform: translateX(23px);
  background-color: #fff;
  border: 1px solid #000;
  color: #000
  
}

html[data-theme='dark'] .button {
  background-color: #000;
}

.button:disabled {
  opacity: 0.6;
  cursor: default;
}

.button:focus-visible {
  outline: 2px solid var(--color-border-dark);
  outline-offset: 2px;
}

.icon {
  display: inline-flex;
  line-height: 0;
}

.svg {
  width: 14px;
  height: 14px;
  color: #fff;
}

html[data-theme='dark'] .svg {
  color: #000;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}