.link {
  position: relative;
  display: inline-grid;
  grid-template-columns: max-content;
  overflow: hidden;
}

.text,
.hoverText {
  grid-area: 1 / 1;
  display: inline-block;
  white-space: nowrap;
  transition: opacity 0.4s ease, transform 0.4s ease;
  text-align: left;
}

.text {
  opacity: 1;
  transform: translateY(0);
}

.hoverText {
  opacity: 0;
  transform: translateY(40%);
}

.link:hover {
    opacity: 1;
}

.link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent,
        currentColor,
        transparent
    );
    background-color: var(--color-text-sub);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;

}

/* hover 発火 */
.link:hover .text {
  opacity: 0;
  transform: translateY(-100%);
}

.link:hover .hoverText {
  opacity: 1;
  transform: translateY(0);
}

.link:hover:after {
    transform: scaleX(1);
}
